.hiiii
{
    background-image: url("https://wallpapercave.com/wp/wp2436426.jpg");
    background-position: center;
    background-size: cover;
}
#myCanvas1
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a { text-decoration: none; font-size: 20px; padding: 10px; float: left; border-radius: 10px; }
#wdthandhei_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.btn-primary{
  width:500px
}